@import '../../../styles/themes/params.scss';

.modal {
  position: fixed;
  z-index: 1500;
  background-color: #fff;
  border: 1px solid rgba(var(--secondary-color-rgb), 0.4);
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000;
  /* padding: 1rem; */

  box-sizing: border-box;
  transition: top 0.4s ease-out;

  min-height: 10rem;
  height: auto;
  max-height: 100% !important;
  overflow-y: auto;

  min-width: 60%;
  width: auto;
  max-width: 100% !important;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: $mobile-view-breakpoint) {
  .modal {
    max-height: 90% !important;
    max-width: 90% !important;
  }
}
