.ellipseIcon {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--secondary-color);

  svg {
    fill: var(--primary-color) !important;
  }
}
