@import '../../../../../styles/themes/params.scss';

.paymentInfo {
  color: var(--success-color);
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
}

.tourShoppingForm {
  margin: 0 auto;
  border-radius: 2rem;
  border: 2px solid #f53;
  width: 98%;
  position: relative;
}

.gygTourShoppingFormClose {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  filter: drop-shadow(0px 3px 2px #000);
}

@media screen and (min-width: $mobile-view-breakpoint) {
  .tourShoppingForm {
    margin: 0;
    width: 55rem;
  }
}
