/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding: 0;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.65rem;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.4rem;
}
h3 {
  font-size: 1.125rem;
  line-height: 1.275rem;
}
h4 {
  font-size: 0.9375rem;
  line-height: 1.0875rem;
}
h5 {
  font-size: 0.875rem;
  line-height: 1.025rem;
}
h6 {
  font-size: 0.8125rem;
  line-height: 0.9625rem;
}
 */
