.inputBaseRoot {
  position: relative;
  color: #828282;
  cursor: text;
  display: inline-flex;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  line-height: 1.1875rem;
  border-radius: 0.75rem;
  height: fit-content;
  transition: border-color 500ms ease;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
  border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.25);

  &:hover {
    border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.75);
  }

  // &:hover {
  //   border-color: #929292;
  //   background-color: #f9f9f9;
  // }
  // &:focus-within {
  //   /* border-color: #000; */
  //   border-color: #929292;
  //   background-color: #f9f9f9;
  // }

  .inputBase:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #828282;
    box-shadow: 0 0 0px 1000px #f5f5f5 inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  // .inputBase:placeholder-shown {
  //   border-radius: 0.75rem;
  //   background-color: #ffe5e5 !important;
  //   border: 1px solid #ffe5e5 !important;
  //   transition: opacity 0.25s ease-in-out;
  //   color: red;
  //   opacity: 1;
  // }

  .inputBase {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    /* height: 1.04175rem; */
    margin: 0;
    display: block;
    outline: none;
    min-width: 0;
    // background: none;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    /* line-height: 1.75; */
    padding: 0.4375rem 0.875rem;
    background-color: #f5f5f5;
    // border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.25);
    border: none !important;
    height: 2rem;
    // border-radius: 0.5rem;
    line-height: 1.1875rem;

    // &::placeholder {
    //   color: red;
    // }

    // &:hover {
    //   background-color: #f9f9f9;
    //   border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.75);
    // }

    // &:focus {
    //   background-color: #f9f9f9;
    //   border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.75);
    //   color: #000;
    // }

    &.default {
      font-size: 0.875rem;
      padding: 0.4375rem 0.875rem;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.small {
      font-size: 0.8125rem;
      padding: 0.3755rem 0.875rem; /* 0.4375rem 0.875rem - 0.0625rem border; */
    }

    &.large {
      font-size: 0.9375rem;
      padding: 0.7275rem 0.875rem;
    }
  }
}
