.checkbox {
  /* .checkbox-base */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -11px;
  margin-right: 16px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  color: var(--text-primary-color);

  .span1 {
    color: inherit;
    cursor: pointer;
    position: relative;
    outline: 0;
    padding: 12px;

    > input {
      display: none;
    }

    .checked {
      fill: var(--primary-color);
    }
  }

  .span2 {
    font-size: 1rem;
    letter-spacing: 0.00938em;
  }
}
