@import '../../styles/themes/params.scss';

.customSlider {
  position: relative;
  width: 100%;

  .customSliderItems {
    padding: 0.25rem 0;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .customSliderItems::-webkit-scrollbar {
    display: none;
  }

  .customSliderPrevArrow {
    position: absolute;
    display: block;
    left: -0.75rem;
    top: 0.1875rem;
    width: fit-content;
    height: fit-content;
    background: #ccc;
    border-radius: 50%;

    &:after {
      display: none;
    }
    svg {
      fill: #fff;
      border: 1px solid #f5f5f5;
      border-radius: 50%;
    }
  }

  .customSliderNextArrow {
    position: absolute;
    display: block;
    right: -0.75rem;
    top: 0.1875rem;
    width: fit-content;
    height: fit-content;
    background: #ccc;
    border-radius: 50%;

    &:after {
      display: none;
    }

    svg {
      fill: #fff;
      border: 1px solid #f5f5f5;
      border-radius: 50%;
    }
  }

  .customSliderNextArrow {
    position: absolute;
    right: -1rem;
    top: 0.1875rem;
  }
}
