.timeframe {
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1.1875rem;
  font-size: 1rem;
  color: var(--text-primary-color);
  border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.25);
  border-radius: 0.25rem;
  height: fit-content;
  transition: border-color 500ms ease;
  &:hover,
  :focus-within {
    border-color: rgba(var(--text-primary-color-rgb), 0.8);
  }

  > span {
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 100%;
    display: block;
    background: url('../base/Dropdown/svg/downArrow.svg') no-repeat right #fff;
    background-size: 0.9rem;
    background-position: right 0.8rem center;
    appearance: none;
    border: 0;
    font-size: 0.875rem;
    padding: 0.5625rem 0.875rem;
    text-align: center;

    &:focus {
      outline: 0;
    }
  }
}

.stepTimeFrameCenter {
  display: flex;
  align-items: center;

  .stepTimeFrameButton {
    border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.25) !important;

    &:hover {
      border: 0.0625rem solid rgba(var(--text-primary-color-rgb), 0.75) !important;
    }
  }
}

.timeFrameSelections {
  display: flex;
  cursor: pointer;
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  align-items: center;
  font-weight: 600;
  .hourText {
    color: var(--text-primary-color) !important;
    margin-left: 0.5rem;
  }
}
