@import '../../../styles/themes/params.scss';

.modalLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.closeIconButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 1));
}

.errorMessage {
  width: 100%;
  text-align: center;
  color: var(--primary-color);
}

.forgotPasswordButton {
  color: var(--text-primary-color) !important;
  font-weight: 600;
  padding-left: 0 !important;
}

.passwordContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.passwordContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.content {
  display: flex;
  align-items: center;

  > span {
    color: #ff0000;
    font-size: 1.5rem;
    padding-left: 0.25rem;
  }
}

.header {
  color: var(--text-primary-color);
  font-weight: 500;
  letter-spacing: 0.1px;
  font-size: 0.875rem;
}

@media screen and (min-width: $mobile-view-breakpoint) {
  .header {
    font-size: 1rem;
  }
}
