@import '../../../styles/themes/params.scss';

.loginLoading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header {
  color: var(--text-primary-color);
  font-weight: 600;
}

form {
  position: relative;
}

.recaptcha {
  transform: scale(0.85);
}

.errorMessage {
  color: var(--primary-color);
}

.loginButton {
  width: 100%;
  box-shadow: none !important;
  // height: 2.5rem !important;
  // font-weight: 600 !important;
}

.passwordContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.forgotPasswordButton {
  font-weight: 600;
  padding-left: 0 !important;
  // margin-bottom: 0.5rem;
  color: var(--text-primary-color) !important;
}

.orLoginWith {
  padding: 0 10px;
  color: var(--text-primary-color);
  font-weight: 600;
  font-size: 0.875rem;
}

.dontHaveAccButton {
  font-weight: 600 !important;
  color: var(--text-primary-color) !important;
  font-size: 0.875rem;
}

.dontHaveAccText {
  font-weight: 600 !important;
  font-size: 0.875rem;
}

@media screen and (min-width: $mobile-view-breakpoint) {
  .recaptcha {
    transform: unset;
  }
}
