/*
@import './params.scss';
@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

// Company Colors 
$blackBgTripian: #333232ff;
$blackTextTripian: #383636ff;
$blackTextWeakTripian: #888888ff;
$whiteTextTripian: #ffffffff;
$greenMatchTripian: #2da52deb;
$redMatchTripian: #e54e53;
$orangeMatchTripian: #f9a938;
// e84343
// Company Colors 

// Export Theme Variables 
$fontFamily: 'Montserrat', sans-serif;
// $fontFamily2: 'Nunito Sans', sans-serif; 
$defaultTextColor: $blackTextTripian;

$defaultColor1: $blackTextTripian;
$defaultColor2: #000000;

$primaryColor1: $whiteTextTripian;
$primaryColor2: $blackBgTripian;

$secondaryColor1: $whiteTextTripian;
$secondaryColor2: $greenMatchTripian;

$dangerColor1: $whiteTextTripian;
$dangerColor2: $redMatchTripian;

$disabledColor1: $blackTextWeakTripian;
$disabledColor2: $blackBgTripian;
*/
