@import '../../../styles/themes/params.scss';

.newPasswordLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.text {
  font-size: 0.875rem;
}

.content {
  display: flex;
  align-items: center;

  > span {
    color: #ff0000;
    font-size: 1.5rem;
    padding-left: 0.25rem;
  }
}

form {
  position: relative;
}

.newPasswordButton {
  width: 100%;
}
