.showMoreLess {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 9999px;
  background-color: #f3f4f6;
  color: #4b5563;
}

.showMoreButton {
  background-color: #f3f4f6 !important;
  color: #4b5563;
  border-radius: 9999px;
  padding: 0.125rem 0.5rem;
  // border: 1px solid #8f8f8f;
  margin: 0.125rem;
  font-size: 0.875rem;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.showLessButton {
  background: #f5f5f5 !important;
  color: black;
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  border: 1px solid #f3f2ff;
  margin: 0.125rem;
  font-size: 0.875rem;
  line-height: 24px;
  cursor: pointer;

  .lessArrowIcon {
    padding-top: 0.25rem;
  }

  .lessButtonText {
    margin-left: 0.25rem;
  }
}
